<div class="container">
  <h1>WELCOME TO QUOTES BASE</h1>
  <hr>
  <h2>Description</h2>
  <p>In this site you will view diffrent quotes and depending on whether you liked or did not like it you will vote for
    it.You can also add your own Quote to the site.</p>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h2>Quotes Available</h2>
      <div *ngFor='let quote of quotes;let i = index'>
        <p id="quotefont">{{quote.id}}.) {{quote.quotes}}<p>
            <p>Quote by: {{quote.author}}</p>
            <button class="btn btn-primary" (click)='toggleDetails(i)'>Show Quote Details</button>
            <app-quotes-detail *ngIf='quote.showDetails' bind-quotes='quote' (delete1)='quoteDelete($event,i)'>
            </app-quotes-detail>
      </div>
    </div>
    <div class="col-md-6">
      <app-quotes-form (addQuote) = 'addNewQuote($event)'></app-quotes-form>
    </div>
  </div>
</div>
