<div class="container">
    <h1>WELCOME TO QUOTES BASE</h1>
    <hr>
    <p>In this site you will view diffrent quotes and depending on whether you liked or did not like it you will vote for it.</p>
    <p>You can also add your own Quote to the site.</p>
    <ul *ngFor='let quote of quotes;let i = index'> 
        <li>{{quote.quotes}} By: {{quote.author}}</li>
        <button (click)='toggleDetails(i)'>Show Quote Details</button>
        <app-quotes-detail *ngIf='quote.showDetails' bind-quotes='quote'></app-quotes-detail>
    </ul>
</div>
